



body {
   
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
  
    margin-top: 50px auto 0 auto;
    font-size: 592%;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
     
 }

 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #66BFBF;
    font-weight: normal;

 }
  h3{

    font-family: 'Montserrat', sans-serif;
    color: #11999E;

  }


.top-container {
    background-color: #badcdf;    
    position: relative;
    padding-top: 100px;
        

}

.middle-container {

       

}

.bottom-container {

    
}

.skill-row{
  margin-top: 100px auto 100px auto; 
  margin: auto;
  width: 50%;
  text-align: left;
  line-height: 2;
  
}

.skill-image {
  width: 25%;

}

.web {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.top-cloud {
    position: absolute;
    left: 300px;
    top: 200px;
    
}


      .round-image {
        border-radius: 50%;
      }

      a{
        color: #11999E;
      }